.card .label .text {
    -fx-fill: rgba(0,0,0,.68);
}

.mylistview .scroll-bar:horizontal .track,
.mylistview .scroll-bar:vertical .track{
    -fx-background-color:transparent;
    -fx-border-color:transparent;
    -fx-background-radius: 0em;
    -fx-border-radius:2em;
}

.mylistview .scroll-bar:horizontal .increment-button ,
.mylistview .scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 0;
}

.mylistview .scroll-bar:vertical .increment-button ,
.mylistview .scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;
}
.mylistview  .scroll-bar .increment-arrow,
.mylistview  .scroll-bar .decrement-arrow{
    -fx-shape:" ";
    -fx-padding:0;
}

.mylistview .scroll-bar:horizontal .thumb,
.mylistview .scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

.mylistview .list-cell:even:selected {
    -fx-background-color: inherit;
}
.mylistview .list-cell:odd:selected {
    -fx-background-color: inherit;
}

.edit {
	-fx-fill: #F1C40F;
}

.delete {
	-fx-fill: #C0392B;
}
.inactive {
	-fx-fill: #BDC3C7;
}

.invisible {
	-fx-opacity: 0;
}

.visible {
	-fx-opacity: 1;
}

.button-title {
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 18px;
    -fx-background-color: WHITE;
    -fx-text-fill: rgba(0,0,0,.68);
    /*-fx-text-fill: #757575;*/
}

.combo-box {
    -fx-text-fill: rgba(0,0,0,.68);
}

.profile-card-name {
    -fx-font-size: 20px;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: rgb(0,0,0,.25);
    /*-fx-text-fill: rgb(100,100,100);*/
    -fx-font-weight: bold;

}
.profile-card-heading {
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: rgb(0,0,0,.25);
    -fx-font-size: 17px;
}

.profile-card-icon {
    -fx-fill: rgba(0,0,0,.45);
}

.button-icon {
    -fx-fill: rgba(0,0,0,.45);
}
.floating-action-button {
    -fx-background-color: #00BCD4;
    -fx-background-radius: 46px;
    -fx-min-height: 54px;
    -fx-min-width: 54px;
}

.card {
	-fx-background-color: rgb(255.0, 255.0, 255.0);
	-fx-background-radius: 4.0;
	-fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.15), 6.0, 0.7, 0.0,
		1.5);
	-fx-padding: 16 16 16 16;
}

.button-submit {
    -fx-background-color: hsb(187, 100%, 84%);
    -fx-font-size: 16px;
    -fx-text-fill: WHITE;
    -fx-font-weight: bold;
}

.button-submit:hover {
    -fx-background-color: hsb(187, 100%, 86%);
}

.button-cancel {
    -fx-background-color: WHITE;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: hsb(187, 100%, 84%);
    -fx-border-color: rgb(0,0,0,.25);
    -fx-border-radius: 3px;
}

.split {
    -fx-border-color: rgb(0,0,0,.25);
    -fx-border-style: solid hidden hidden hidden;
}